html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;

}

a:hover {
  color: white;
}
/* select {
  appearance: 20%;
} */

.footer {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.fab {
  color: black;
  font-size: 50px;
  padding: 30px 40px 20px 20px;
}
.fab a {
  color: black;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

  /*
   * Custom translucent site header
   */
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .site-header-logo {
      width: 45px;
      display: inline-block;
  }

  .site-header {
    background-color: white;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    font-size: 1.3rem;
    padding: 1.2rem 0;
  }
  .site-header a {
    color: black !important;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    /* color: #fff; */
    text-decoration: underline;
  }
  
  
  .pt-2, .py-2 {
      padding-top: 1.2rem !important;
  }
  
  .pb-2, .py-2 {
      padding-bottom: 1.2rem !important;
  }

  .link {
      padding-top: 1.6rem !important;
      margin: 0 50px;
      font-style: bold;
  }

  .nav-item {
    margin: 0 40px;
  }
  /*
   * Extra utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }

  /* HOME FIRST PAGE */
  #home-bg {
      background: linear-gradient( rgba(0,0,0,0.25), rgba(0, 0, 0, 0.25) ),url(/images/home-background.png) no-repeat;
      background-size: cover;
      height: 680px;
      position: relative;
      overflow: hidden;
      text-align: center;
      padding-top: 200px;
  }

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 5.5rem;
  letter-spacing: 2px;
  color: white;
  /* border-bottom: 5px solid #cdecda; */
  display: inline-block;
}

.title .title-underline {
  background-position: 0 1.12em;
}
.title-underline {
    background-image: url(images/card-image.png);
    background-size: cover;
    background-position: 0 1.02em;
    background-repeat: no-repeat;
}

.sub-title {
  font-family: sans-serif;
  font-size: 1.6rem;
  color: white;
  padding-top: 40px;
}

/* HOME SECOND PAGE */
  #home-28 {
    /* max-height: 600px; */
    /* background-color: bisque; */
    padding: 8% 10%;
  }

  #home-28 p {
    font-size: 1.2rem;
    padding-top: 20px;
  }

  #home-28 h2 {
    font-size: 2rem;
  }

  #home-28 h3 {
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 2rem;
  }

  #home-28 img {
    width: 100%; 
    height: 100%;
  }
  .circle-28 {
    /* background:#a2b55d; */
    background: #acc161;
    border-radius: 50%;
    color:whitesmoke;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  /* HOME THIRD PAGE */

  #link-menu .row {
    /* padding: 20px; */
    text-align: center;
    /* max-height: 400px; */
  }

  #link-menu .link {
    border: 1px solid #fff;
    padding: 20px;
    color: white;
  }

  #link-menu a {
    color: white;
    transition: ease-in-out color .15s;
  }

  .template {
    align-items: center;
    padding: 150px 70px;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .about {
    background-image: url(images/image12.png);

  }

  .coaching {
    background-image: url(images/image21.png);

  }

  .get-in-touch {
    background-image: url(images/image9.png);

  }

  /* SUPPORT PAGE */

  #support .title-underline {
      background-position: 0 1.1em;
  }

  #support-content {
    padding: 0 10% 40px;
  }

  #support-content p {
    font-size: 1.2rem;
  }

  .muted-background {
    background-color: #eacfc0;
    margin: 0 10px;
    padding: 20px;
    height: 700px;
    position: relative;
  }
  .muted-background p {
    font-size: 1.0rem;
    margin-top: 3px;
  }

  .muted-background u {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .muted-background img {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  /* Carousel base class */
.carousel {
  /* margin-bottom: 50px; */
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 820px;
  background-color: #e0bda8;
  padding: 50px 0;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }

    .m-md-3 {
        margin: 0 !important;
    }
  }

  
  .overflow-hidden { overflow: hidden; }

  .carousel-inner img {
    height: 150px;
  }
/* ABOUTME FIRST PAGE */
#about-me {
  width: 100%;
  padding: 50px 10%;
}

#about-me .title-underline {
  background-position:0  1.1em !important;
}
.my-image {
  width: 100%;
  /* margin: 40px 0 0 160px; */
  /* float: left; */
  display: block;
  margin-bottom: 20px;
}

.text-content {
  /* margin: 20px 75px 0 50px;
  padding-right: 150px;
  display:block;
  top: 40px;
  left: 40px; */
  position: relative;
}

.text-content-h1 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
}

.text-content-h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 20px 0;
}
.text-content p {
  font-family: 'Montserrat', sans-serif;

}

.text-content a {
  color: black;
  text-decoration: underline;
}
/* .btn {
  margin-left: 40px;
  margin-top: 50px;
} */

  
/* OURPROG FIRST PAGE */
#ourprog-intro {
   max-height: 400px;
    /* background-color: #AEDECA; */
    /* background-color: #cdecda; */
    position: relative;
    overflow: hidden;
    /* background-image: url(images/ourprog-into-img.png); */
    /* background-size: cover; */
    height: 320px;
    
}

#ourprog-intro h1 {
  position: absolute;
  padding: 80px 0 20px 100px;
  font-family: 'Caveat', cursive;
  /* font-family: 'Kumbh Sans', sans-serif; */
  font-weight: 700;
  font-size: 3rem;
  color: white;
}

.ourprog-button {
  position: absolute;
  display: block;
  margin-left: 100px;
  color: white;
}

#ourprog-intro .title {
  padding: 60px 0 20px 100px;
    font-family: 'Kumbh Sans', sans-serif;
}

.btn {
  border-radius: 0;
}

.btn:hover {
  color: white;
  border-color: white;
}

.btn-group-lg>.btn, .btn-lg {
  border-radius: 0;
  font-weight: 300;
}

.btn-edit {
  background-color: #929292;
  width: 20%;
  height: 75px;
  color: white;
  margin: auto;
  display: block;
  margin-bottom: 70px;
}

.btn-primary {
  border-color: #929292;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #929292;
  border-color: #929292;

}
.btn-primary:hover {
  color: #fff;
  background-color: #929292;
  border-color: #929292;
}
#ourprog-why {
  padding: 50px 10% 0;
}

#ourprog-why h1 {
  font-size: 2.5rem;
  margin-top: 30px;
}

#ourprog-why p {
  margin-bottom: 0;
}

#ourprog-why ul {
  list-style-type: circle;
}

.ourprog {
  background-position: 0 1.09em !important;
}

.intro-img {
  width: 50%;
  position: relative;
  top: 0;
  right: 0;
  float: right;
}

.program {
  text-align: center;
  padding-bottom: 50px;
}
.card {
  border: none;
  padding: 0 30px;
}

.card0 {
  background-image: url(images/card-image.png);
  /* color: #696969; */
  color: #534b4f;
  margin: 0 15px;
  padding: 20px 15px 0;
  height: 260px;
}


/* OURPROG THIRD PAGE */

#home-types {
    background-color: white;
    padding: 5% 8% 0%;
    margin-bottom: 50px;
  }

  #home-types h1 {
    padding-bottom: 40px;
    margin-left: 20px;
    font-size: 2.5rem;
  }
  .types {
    padding-bottom: 50px;
    text-align: center;
  }
  .types h3 {
    text-align: center;
  }

  .program h3 {
    text-decoration: underline;
    font-size: 1.5rem;
  }
  .circle1 {
    background-image: url(images/card-image.png);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 0 auto 20px;
  }

/* FORM */
.form-sigin {
  display: block;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
  -webkit-appearance: none;
}

.main-form-signin {
  padding: 0 5%;
  margin-top: 50px;
  display: block;
}

.form-control {
  height: 75px;
  padding: 0 40px;
  
}

.form-label-group {
  margin: 10px 1.5px;
  width: 100%;
}


.user-message {
  height: 150px;
}

.contact {
  background-position: 0 1.02em !important;
}

#home-form {
  display: block;
  padding: 50px 10%;
}

#home-form h2{
  font-size: 1.5rem;
}

#home-form .title-underline {
  background-position: 0 1.08em;
}
.form-btn {
  background-color: #929292;
  height: 70px;
}

.form-submit {
  width: 100%;
  height: 70px;
  background-color: #929292;
}

/* BLOG */
#blog h1 {
  font-size: 2.5rem;
}
.feed {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#blog-feed {
  width: 100%;
}

.blog-heading {
  margin-top: 30px;
  font-size: 2rem;
  margin-left: 10%; 
}

#blog .title-underline {
  background-image: url(images/card-image.png);
  background-size: cover;
  background-position: 0 1.02em;
  background-repeat: no-repeat;
}

/* MOBILE-VERSION */
@media only screen and (max-width:768px) {
  .nav-item {
    margin: 0;
    text-align: center;
  }

  #home-28 img {
      margin-bottom: 20px;
  }

  .title {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 1rem;
  }

  .text-content {
    margin: 40px;
    padding: 0;
    display: block;
    top: 0;
    left: 0;
    position: relative;
  }

  .my-image {
    width: 250px;
    float: none;
    display: block;
    margin: auto;
  }

  .card {
    margin: 40px 0;
    border: none;
  }

  #about-me {
    padding: 20px 1%;
    margin: 0;
  }

  #home-28 p {
    font-size: 1rem;
    padding-top: 0;
  }

  #about-me p {
    font-size: 1rem;
  }

  #ourprog-why p {
    font-size: 1rem;
  }

  #support-content p {
    font-size: 1rem;
  }

  .text-content {
    margin-top: 20px;;
  }

  .text-content-h1 {
    font-size: 1.6rem;
    text-align: center;
    padding: 0;
  }
  #home-types {
    text-align: center;
  }

  .types {
    padding: 0;
  }

  .form-control {
    height: 50px;
    padding: 0 20px;
  }

  .user-message {
    height: 100px;
  }

  #contact-form .title-underline {
    background-position: 0 1.02em !important;
  }


  .form-control {
    font-size: 5rem;
}

  /* .ourprog-button {
    width: 200px;
  } */

  .btn-edit {
    width: auto;
  }
  .form-control {
    font-size: 1rem;
  }
  
  .navbar {
    padding-left: 40px;
    padding-right: 40px;
  }

  #ourprog-why h1 {
    font-size: 1.6rem;
  }

  #home-types h1 {
    font-size: 1.6rem;
  }

  #blog h1 {
    font-size: 1.6rem;
  }

  .muted-background {
    height: 600px;
  }

  .carousel-item {
    height: fit-content;
  }

  #ourprog-intro {
    height: auto;
  }

  .program {
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  .muted-background {
    max-width: 31%;
  }

  .card0 {
    flex: 0 0 30%;
  }
}


@media screen and (min-width: 769px) and (max-width: 1180px){

}
