html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.footer {
  width: 100%;
  text-align: center;
}

.fab {
  font-size: 50px;
  padding: 30px 40px 20px 20px;
}
.fab a {
  color: black;
}

  /*
   * Custom translucent site header
   */
  
  .site-header-logo {
      width: 45px;
      display: inline-block;
      margin-left: 20px;
  }

  .site-header {
    background-color: white;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    font-size: 1.3rem;
    padding: 1.2rem 0;
  }
  .site-header a {
    color: black !important;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    /* color: #fff; */
    text-decoration: underline;
  }
  
  
  .pt-2, .py-2 {
      padding-top: 1.2rem !important;
  }
  
  .pb-2, .py-2 {
      padding-bottom: 1.2rem !important;
  }

  .link {
      padding-top: 1.6rem !important;
      margin: 0 50px;
      font-style: bold;
  }

  .nav-item {
    margin: 0 50px;
  }
  /*
   * Extra utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }

  /* HOME FIRST PAGE */
  #home-bg {
      background: linear-gradient( rgba(0,0,0,0.25), rgba(0, 0, 0, 0.25) ),url(/images/home-background.png) no-repeat;
      background-size: cover;
      height: 680px;
      position: relative;
      overflow: hidden;
      text-align: center;
      padding-top: 200px;
  }

  @font-face {
    font-family: 'C_Cake';
    src: url('Beauty&Beast.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 5.5rem;
  letter-spacing: 2px;
  color: white;
  /* border-bottom: 5px solid #cdecda; */
  display: inline-block;
}

.title-underline {
    border-bottom: 5px solid #cdecda;
}

.sub-title {
  font-family: sans-serif;
  font-size: 1.6rem;
  color: white;
  padding-top: 40px;
}

  .home-lady {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    /* display: inline-block; */
}

/* HOME SECOND PAGE */
  #home-28 {
    /* max-height: 600px; */
    /* background-color: bisque; */
    padding: 8% 10%;
  }

  #home-28 p {
    font-size: 1.2rem;
    padding-top: 20px;
  }

  #home-28 h2 {
    font-size: 2rem;
  }

  #home-28 h3 {
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 2rem;
  }

  #home-28 img {
    width: 100%; 
    height: 100%;
  }
  .circle-28 {
    /* background:#a2b55d; */
    background: #acc161;
    border-radius: 50%;
    color:whitesmoke;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  /* HOME THIRD PAGE */

  #link-menu .row {
    /* padding: 20px; */
    text-align: center;
    /* max-height: 400px; */
  }

  #link-menu .link {
    border: 1px solid #fff;
    padding: 20px;
    color: white;
  }

  #link-menu a {
    color: white;
    transition: ease-in-out color .15s;
  }

  .template {
    align-items: center;
    padding: 150px 70px;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
  }
  .about {
    background: linear-gradient( rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2) ),url(images/image1.png) no-repeat;


  }

  .coaching {
    background: linear-gradient( rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2) ),url(images/image2.png) no-repeat;

  }

  .get-in-touch {
    background: linear-gradient( rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2) ),url(images/image3.png) no-repeat;

  }

  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }

    .m-md-3 {
        margin: 0 !important;
    }
  }

  
  .overflow-hidden { overflow: hidden; }

/* ABOUTME FIRST PAGE */
#about-me {
  width: 100%;
  margin-top: 10px;
  padding: 50px 10%;
}
.my-image {
  width: 100%;
  /* margin: 40px 0 0 160px; */
  /* float: left; */
  display: block;
  margin-bottom: 20px;

}

.text-content {
  /* margin: 20px 75px 0 50px;
  padding-right: 150px;
  display:block;
  top: 40px;
  left: 40px; */
  position: relative;
}

.text-content-h1 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
}

.text-content-h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 20px 0;
}
.text-content p {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;

}
/* .btn {
  margin-left: 40px;
  margin-top: 50px;
} */

  
/* OURPROG FIRST PAGE */
#ourprog-intro {
   max-height: 400px;
    /* background-color: #AEDECA; */
    background-color: #cdecda;
    position: relative;
    overflow: hidden;
    background-image: url(images/ourprog-into-img.png);
    background-size: cover;
    height: 320px;
    
}

#ourprog-intro h1 {
  position: absolute;
  padding: 80px 0 20px 100px;
  font-family: 'Caveat', cursive;
  /* font-family: 'Kumbh Sans', sans-serif; */
  font-weight: 700;
  font-size: 3rem;
  color: white;
}

.ourprog-button {
  position: absolute;
  display: block;
  margin-left: 100px;
  color: black;
}

#ourprog-intro .title {
  padding: 60px 0 20px 100px;
    font-family: 'Kumbh Sans', sans-serif;
}

#ourprog-intro .btn {
  background-color: black;
  width: 250px;
  color: white;

}
#ourprog-why {
  padding: 50px 100px;
}

#ourprog-why ul {
  list-style: none;
}

.intro-img {
  width: 50%;
  position: relative;
  top: 0;
  right: 0;
  float: right;
}

.card {
  border: none;
}


/* OURPROG THIRD PAGE */

#home-types {
    max-height: 600px;
    background-color: white;
    padding: 5% 10%;
    margin-bottom: 50px;
  }

  #home-types h2 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 2.5rem;
  }
  .types {
    padding-bottom: 50px;
  }
  .types h3 {
    text-align: center;
  }
  .circle1 {
    background: #e0bda8;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 0 auto 20px;
  }

  .circle2 {
    background: #D9AA8C;
    /* #D9AA8C */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 0 auto 20px;
  }

/* FORM */
.form-signin {
  padding: 0 9%;
  margin-top: 50px;
  display: block;
}

.form-control {
  height: 75px;
  padding: 0 40px;
  
}

.form-label-group {
  margin: 10px 1.5px;
  width: 100%;
}


.selectpicker {
  height: 10px !important;
}

.selectpicker option {
  padding: 15px 29px !important;

}

.dropdown-toggle {
  height: 75px;
  padding: 25px 40px;
}

.user-message {
  height: 150px;
}

.home-form {
  display: block;
}

.form-btn {
  background-color: black;
  height: 70px;
}

.form-submit {
  width: 100%;
  height: 70px;
  background-color: black;
}

/* BLOG */
.feed {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.blog-feed {
  width: 100%;
}


/* MOBILE-VERSION */
@media only screen and (max-width:768px) {
  .nav-item {
    margin: 0;
    text-align: center;
  }

  #home-28 img {
      margin-bottom: 20px;
  }

  .title {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 1rem;
  }

  .text-content {
    margin: 40px;
    padding: 0;
    display: block;
    top: 0;
    left: 0;
    position: relative;
  }

  .my-image {
    width: 250px;
    float: none;
    display: block;
    margin: auto;
  }

  .card {
    margin: 40px 0;
    border: none;
  }

  #about-me {
    padding: 20px 1%;
    margin: 0;
  }

  #about-me p {
    font-size: 1rem;
  }

  .text-content {
    margin-top: 20px;;
  }

  .text-content-h1 {
    font-size: 1.6rem;
    text-align: center;
    padding: 0;
  }
  #home-types {
    text-align: center;
  }

  .types {
    padding: 0;
  }

  .form-control {
    height: 50px;
    padding: 0 20px;
  }

  .user-message {
    height: 100px;
  }

  .home-form h2{
    font-size: 1.5rem;
  }


}


@media screen and (min-width: 769px) and (max-width: 1180px){

}